h1{
  color: rgb(0, 58, 111);
  text-align: center;
  font-size: 50px;
}

button{
  display: block;
  margin: 0 auto;
}

.output_button{
  display: block;
  float: left;
}

.output_text{
  display: block;
  margin: 10px;
  font-size: 14px;
  text-align: left;
  float: top;
}

.test_options{
  display: block;
  float: top;
  padding: 10px;
}

.test_option{
  display: table-cell;
  margin: 50px;
  vertical-align: top;
}

#back_button{
  float: left;
}